[submodule "tulip"]
	path = tulip
	url = ../tulip.git
[submodule "DestructiveFarm"]
	path = DestructiveFarm
	url = ../DestructiveFarm.git
[submodule "ctf_scripts"]
	path = ctf_scripts
	url = ../ctf_scripts.git
[submodule "firegex"]
	path = firegex
	url = ../firegex.git
[submodule "priv"]
	path = priv
	url = ../simad_priv.git
